krpano.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- refactore blendmode -->

<!ELEMENT krpano (image | preview | display | view | area | action | plugin | hotspot | events | control | style | progress | autorotate | contextmenu | memory | network | textstyle | data | include | scene )* > <!--    -->
<!ATTLIST krpano
	version CDATA "1.0.8" 
	onstart CDATA "null"
	logkey  (true | false) "false"
	actionintervalbase (timer | frame) "timer"
	showerrors (true | false) "true"	>
	
<!ELEMENT image 		(level | mobile | tablet | qtvr)* >
<!ATTLIST image
	type 				(SPHERE | CUBE | CUBESTRIP | ZOOMIFY | QTVR ) 	"SPHERE"
	tiled 				(true | false) 									"false" 
	multires 			(true | false) 									"false"
	tiledimagewidth 	CDATA 											#IMPLIED
	tilesize			CDATA 											#REQUIRED
	hfov 				CDATA 											"360"
	vfov 				CDATA											#IMPLIED
	voffset				CDATA											"0"
	progressive			(true | false)									"false"
	prealign			CDATA 											"0|-90|0" >

<!ELEMENT preview 		(#PCDATA)>
<!ATTLIST preview
	type 				(SPHERE | CUBESTRIP | grid ) 	"SPHERE"
	url					CDATA							#REQUIRED
	striporder  		CDATA							"LFRBUP"
	details				CDATA							"8" >
	
<!ELEMENT scene 		(#PCDATA)>
<!ATTLIST scene
	name 				CDATA					 		#REQUIRED
	onstart					CDATA							#IMPLIED
	>

<!ELEMENT display EMPTY>
<!ATTLIST display
	fps 				CDATA 							#IMPLIED
	details				CDATA 							#IMPLIED 
	tessmode			CDATA 							#IMPLIED 
	movequality			( LOW | HIGH | HIGHSHARP ) 		"LOW"
	stillquality		( LOW | HIGH | HIGHSHARP )		"HIGH"
	stilltime			CDATA							"0.25"
	 >
	 
<!ELEMENT view EMPTY>
<!ATTLIST view
	hlookat				CDATA 							#IMPLIED
	vlookat				CDATA 							#IMPLIED 
	camroll				CDATA 							#IMPLIED 
	fov					CDATA 							"90"
	fovmin				CDATA							"1"
	fovmax				CDATA							"179"
	fovtype				( VFOV | HFOV | DFOV | MFOV )	"VFOV"
	limitfov			(true | false)					"true"
	fisheye				CDATA							"0"
	fisheyefovlink		CDATA							"0.5"
	stereographic 		(true | false)					"false"
	architectural		CDATA							"0"
	architecturalonlymiddle (true | false)				"false"
	limitview			( off | auto | range | lookat ) "auto"
	hlookatmin			CDATA							"-180"
	hlookatmax			CDATA							"180"
	vlookatmin			CDATA							"-90"
	vlookatmax			CDATA							"+90"
	maxpixelzoom		CDATA							"1.0"
	pannini				(true | false)					"false"
	limitview			(fullrange | offrange)			#IMPLIED
	 >
	 
<!ELEMENT area EMPTY>
<!ATTLIST area
	width 				CDATA 							#IMPLIED
	height				CDATA 							#IMPLIED 
	x					CDATA 							#IMPLIED 
	y					CDATA 							#IMPLIED >
	 
<!ELEMENT action ANY>
<!ATTLIST action
	name 				CDATA 							#REQUIRED
	>
	
<!ELEMENT events EMPTY>
<!ATTLIST events
	onenterfullscreen 				CDATA 							#IMPLIED
	onexitfullscreen 				CDATA 							#IMPLIED
	onloadcomplete	 				CDATA 							#IMPLIED
	onxmlcomplete	 				CDATA 							#IMPLIED
    onpreviewcomplete				CDATA 							#IMPLIED
    onloaderror						CDATA 							"trace('loading error - ', lasterror);"
	onclick							CDATA 							"trace('mouse clicked at ', mouse.x, '/', mouse.y);"
    onmousedown						CDATA 							"trace('mouse button down at ', mouse.x, '/', mouse.y);"
    onmouseup						CDATA 							"trace('mouse button up at ', mouse.x, '/', mouse.y);"
    onmousewheel					CDATA 							"trace('mouse wheel rolled - delta=', wheeldelta);"
    onkeydown						CDATA 							"trace('key down - keycode=', keycode);"
	onkeyup							CDATA 							"trace('key up - keycode=', keycode);"
	onresize						CDATA 							"trace('window resize - window size=', stagewidth, 'x', stageheight,' - area size=', area.pixelwidth, 'x', area.pixelheight);"
	onidle							CDATA 							"trace('idle event - no user interaction since ', idletime, ' seconds');"
	onviewchange					CDATA 							#IMPLIED
	>

<!ELEMENT style EMPTY>
<!ATTLIST style
	name				 			CDATA 							#REQUIRED
	>

<!ELEMENT progress EMPTY>
<!ATTLIST progress
	showload				 		CDATA 							"bar(origin,width,height,offsetx,offsety,style,backcolor,loadcolor,decodecolor,bordercolor,borderwidth,glowcolor,glowwidth)"
	showwait				 		CDATA 							"loopings(color,points,size,bigpoint,smallpoint,glowcolor,glowwidth,xpos,ypos)"
	showreload						(true|false)					"false"
	>

<!ELEMENT autorotate EMPTY>
<!ATTLIST autorotate
	enabled				 			( true | false ) 				"true"
	waittime						CDATA							"1.5"
	accel							CDATA							"1"
	speed							CDATA							"10"
	horizon							CDATA							"0"
	tofov							CDATA							"off"
	>

<!ELEMENT contextmenu (item)* >
<!ATTLIST contextmenu
	fullscreen				 		( true | false ) 				"true"
	>

<!ELEMENT control EMPTY>
<!ATTLIST control
	usercontrol			 			(all | keyb | mouse | off) 		"all"
	mousetype						(drag2d | drag3d | moveto)		"drag2d"
	movetocursor					( null | vector | arrow)		"null"
	cursorsize						CDATA							"10"
	mouseaccelerate					CDATA							"1.00"
	mousespeed						CDATA							"10.00"
	mousefriction					CDATA							"0.80"
	keybaccelerate					CDATA							"0.50"
	keybspeed						CDATA							"10.00"
	keybfriction					CDATA							"0.90"
	keybinvert						( true | false )				"false"
	mousefovchange					CDATA							"1.00"
	keybfovchange					CDATA							"1.00"
	fovspeed						CDATA							"3.0"
	fovfriction						CDATA							"0.90" 
	keycodesleft					CDATA							"37"
	keycodesright					CDATA							"39"
	keycodesup						CDATA							"38"
	keycodesdown					CDATA							"40"
	keycodesin						CDATA							"16,65,107"
	keycodesout						CDATA							"17,89,90,109"
	headswing						CDATA							"0"
	>
	
<!ELEMENT plugin ANY>
<!ATTLIST plugin
	name				 			CDATA 							#IMPLIED
	url					 			CDATA 							#IMPLIED
	visible							(true | false)					"true"
	enabled							(true | false)					"true"
	capture							(true | false)					"true"
	children						(true | false)					"true"
	parent							CDATA 							#IMPLIED
	scalechildren					(true | false)					"false"	
	handcursor						(true | false)					"true"
	keep 							(true | false)					"false"
	zorder							CDATA							"0"
	alpha							CDATA							"1"
	blendmode						(normal|add|difference|multiply|screen) "normal"
	align							( lefttop | left | leftbottom | top | center | bottom | righttop | right | rightbottom ) "bottom"
	edge							( same_as_origin | lefttop | left | leftbottom | top | center | bottom | righttop | right | rightbottom ) "same_as_origin"
	ath								CDATA							"0"
	atv								CDATA							"0"
	width							CDATA							#IMPLIED
	height							CDATA							#IMPLIED
	scale							CDATA							"1"
	smoothing						(true | false)					"true"
	zoom							(true | false)					"false"
	onover							CDATA							#IMPLIED
	onhover							CDATA							#IMPLIED
	onout							CDATA							#IMPLIED
	onclick							CDATA							#IMPLIED
	ondown							CDATA							#IMPLIED
	onup							CDATA							#IMPLIED
	onloaded						CDATA							#IMPLIED
	crop							CDATA							#IMPLIED
	>
	
<!ELEMENT hotspot (point)* >
<!ATTLIST hotspot
	name				 			CDATA 							#IMPLIED
	url					 			CDATA 							#IMPLIED
	visible							(true | false)					"true"
	enabled							(true | false)					"true"
	capture							(true | false)					"true"
	children						(true | false)					"true"
	parent							CDATA 							#IMPLIED
	scalechildren					(true | false)					"false"
	handcursor						(true | false)					"true"
	keep 							(true | false)					"false"
	zorder							CDATA							"0"
	alpha							CDATA							"1"
	blendmode						(normal|add|difference|multiply|screen) "normal"
	align							( lefttop | left | leftbottom | top | center | bottom | righttop | right | rightbottom ) "bottom"
	edge							( same_as_origin | lefttop | left | leftbottom | top | center | bottom | righttop | right | rightbottom ) "same_as_origin"
	ath								CDATA							"0"
	atv								CDATA							"0"
	width							CDATA							#IMPLIED
	height							CDATA							#IMPLIED
	scale							CDATA							"1"
	smoothing						(true | false)					"true"
	zoom							(true | false)					"false"
	onover							CDATA							#IMPLIED
	onhover							CDATA							#IMPLIED
	onout							CDATA							#IMPLIED
	onclick							CDATA							#IMPLIED
	ondown							CDATA							#IMPLIED
	onup							CDATA							#IMPLIED
	onloaded						CDATA							#IMPLIED
	crop							CDATA							#IMPLIED
	distorted						(true | false)					"false"
	rx								CDATA							#IMPLIED
	ry								CDATA							#IMPLIED
	rz								CDATA							#IMPLIED
	flying							CDATA							#IMPLIED
	>

<!ELEMENT memory EMPTY>
<!ATTLIST memory
	maxmem				 			CDATA 							"350"
	>

<!ELEMENT network EMPTY>
<!ATTLIST network
	downloadqueues				 			CDATA 					"4"
	decodequeues				 			CDATA 					"2"
	caching						 			(true |false)			"true"
	cachesize 				 				CDATA 					"10"
	>

<!ELEMENT textstyle EMPTY>
<!ATTLIST textstyle
	name				 			CDATA 							#REQUIRED
	font			 				CDATA 							#IMPLIED
	fontsize		 				CDATA 							#IMPLIED
	blod							(true | false )					"false"
	italic							(true | false )					"false"
	background						(true | false )					"false"
	backgroundcolor					CDATA							"0xFFFFFF"
	border							(true | false)					"false"
	bordercolor						CDATA							"0xFFFFFF"
	textcolor						CDATA							"0x000000"
	alpha							CDATA							"1"
	blendmode						(normal|add|difference|multiply|screen) "normal"
	effect							CDATA							"glow(color,alpha,range,strength); dropshadow(depth,angle,color,range,strength); blur(radius);"
	origin							(cursor | lefttop | left | leftbottom | top | center | bottom | righttop | right | rightbottom ) "cursor"
	edge							( lefttop | left | leftbottom | top | center | bottom | righttop | right | rightbottom ) "bottom"
	textalign						( none | left | center | right ) "none"
	xoffset							CDATA							"0"
	yoffset							CDATA							"-3"
	noclip							( true | false )				"true"
	showtime						CDATA							"0.1"
	fadetime						CDATA							"0"
	fadeintime						CDATA							"0"
	>
	
<!ELEMENT data ANY>
<!ATTLIST data
	name				 				CDATA 							#REQUIRED
	>
	
<!ELEMENT include EMPTY>
<!ATTLIST include
	url				 				CDATA 							#REQUIRED
	>
	
<!ELEMENT qtvr EMPTY>
<!ATTLIST qtvr
	url				 				CDATA 							#REQUIRED
	setview							( true | false ) 				"true" >

<!ELEMENT point EMPTY>
<!ATTLIST point
	ath 							CDATA 							"0"
	atv								CDATA 							"0" >

<!ELEMENT level ANY>
<!ATTLIST level
	tiledimagewidth 	CDATA 							#IMPLIED
	tiledimageheight	CDATA 							#IMPLIED >
	
<!ELEMENT mobile ANY>
<!ELEMENT tablet ANY>


<!ELEMENT item EMPTY>
<!ATTLIST item
	name				 			CDATA 							#IMPLIED
	caption							CDATA							#IMPLIED
	separator						( true | false )				"false"
	enabled							( true | false )				"true"
	visible							( true | false )				"true"
	onclick							CDATA							"action();"
	>


<!ELEMENT zoomify EMPTY>
<!ATTLIST zoomify
	url				 				CDATA 							#IMPLIED
	setview							( true | false ) 				"true" >